nemo-toolkit>=2.6.0
lightning>=2.2.1,<2.5.0
nv_one_logger_core>=2.3.1
nv_one_logger_training_telemetry>=2.3.1
nv_one_logger_pytorch_lightning_integration>=2.3.1
lhotse
kaldialign
pyannote.core
pyannote.metrics
braceexpand
peft
webdataset
jiwer
inflect
sacrebleu
sacremoses
whisper-normalizer
wandb
