owl_vit/pytorch/image_embeds.pt filter=lfs diff=lfs merge=lfs -text
owl_vit/pytorch/modeling_owl_vit.py filter=lfs diff=lfs merge=lfs -text
owl_vit/pytorch/query_embeds.pt filter=lfs diff=lfs merge=lfs -text
owl_vit/pytorch/query_mask.pt filter=lfs diff=lfs merge=lfs -text
