lightning
docstring-inheritance>=2.1.0,<2.3.0
jsonargparse[signatures]>=4.37.0
lmdb
wandb
array-api-compat
donfig
google-crc32c
h5py
legacy-api-wrap
natsort
numcodecs
zarr
biopython
biotite
dm-tree
enformer-pytorch
local-attention
ml-collections
omegaconf
pyfaidx
peft<=0.13.2
transformers==4.38.0
